* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media(max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
@media(max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media(min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem;
}

/*header section*/

.header {
    background: #f7f7f7;
    position: relative;
    height: 100vh;

}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 4rem;
}

.heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.heading-title-main {
    font-size: 4.5rem;
    letter-spacing: 1.5rem;
    display: block;
    color: darkblue;
}

.heading-title-sub {
    letter-spacing: .5rem;
    display: block;
    color: darkgray;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    padding: .5rem 3rem;
    background: darkblue;
    color: whitesmoke;
    border-radius: 10rem;
    display: inline-block;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}


/*projects section*/

#projects-section {
    background: #f7f7f7;
    margin-bottom: 4rem;
    min-height: 100vh;
    padding: 2rem;
}

.project-heading {
    text-align: center;
    margin-bottom: 8rem;
}

.project-heading__title {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 3rem;
    font-weight: 800;
    display: inline-block;
    background-image: linear-gradient(to right, darkblue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

@media(max-width: 56.25em) {
    .row {
        max-width: 85%;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col-1-of-4:not(:last-child) {
    margin-right: 8rem;
}

.col-1-of-4 {
    margin-bottom: 2rem;
    width: calc((100% - (3 * 8rem )) / 4);
    float: left;
}

@media(max-width: 56.25em) {
    .col-1-of-4 {
        margin-right: 0;
        margin-bottom: 2rem;
        width: 100%;
        /* float: left; */
    }
}

.project-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    background: darkgray;
    color: whitesmoke;
    height: 45rem;
}

.project-box__icon {
    display: inline-block;
    background-image: linear-gradient(to right, darkblue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 800;
}

.project-box__heading {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.project-box__text {
    margin-bottom: 1.5rem;
    flex-grow: 1;
}

.link:link,
.link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    color: darkblue;
    font-weight: 700;
    transition: all .2s;
}

.link:hover {
    background: darkblue;
    color: whitesmoke;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);

}

.link:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

.about-section {
    background: #f7f7f7;
    min-height: 50vh;
    padding: 2rem;
}

@media(max-width: 56.25em) {
    .about-section {
        margin-top: 10rem;
    }
}

.about-section__title {
    text-align: center;
    margin-bottom: 8rem;
}

.about-section__heading {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 3rem;
    font-weight: 800;
    display: inline-block;
    background-image: linear-gradient(to right, darkblue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-section__bio {
    margin: 0 auto;
    text-align: center;
}

.footer-section {
    background: darkgray;
    color: #f7f7f7;
    width: 100%;
    min-height: 30vh;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
}

.col-1-of-2:not(:last-child) {
    margin-right: 8rem;
}

.col-1-of-2 {
    margin-bottom: 2rem;
    width: calc((100% -  8rem) / 2);
    float: left;
}

@media(max-width: 56.25em) {
    .col-1-of-2 {
        margin-right: 0;
        margin-bottom: 2rem;
        width: 100%;
    }
}

.email {
    font-weight: 700;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
}

.social-linkedin {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    transition: all .2s;
}

.social-linkedin:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.social-github {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    transition: all .2s;
}

.social-github:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.copyright {
    background: darkblue;
    color: whitesmoke;
    font-weight: 800;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
}

.copyright-text {
    text-align: center;
}